{% extends "main/base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<div class="container mt-1">
    <h1>Your shopping cart</h1>
    <form method="POST" action="{% url "order_save" %}">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                    <th>Unit price</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {%csrf_token%}
                {% for item in cart %}
                    {% with product=item.product %}
                    <input type="hidden" name="product" value="{{product.id}}">
                    <input type="hidden" name="user" value="{{user.id}}">
                    <input type="hidden" name="quantity" value="{{item.quantity}}">
                    <tr>
                        <td>
                            <img height="150px" src="/media{{MEDIA_URL}}/{{product.preview_image}}">
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td><a href="{% url "cart_remove" product.id%}">Remove</a></td>
                        <td class="num">${{ item.price }}</td>
                        <td class="num">${{ item.total_price }}</td>
                    </tr>
                    {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td>Total</td>
                    <td colspan="4"></td>
                    <td class="num">${{ cart.get_total_price }}</td>
                </tr>
            </tbody>
        </table>

        {%if cart.get_total_price > 0 %}
            <button type="submit" class="btn btn-primary float-right">To order</button>
        {%endif%}
    </form>
</div>
{% endblock %}